* {
  margin: 0;
}

.header-main {
  margin: 0.4em;
}

.header-main-container {
  align-items: center;
  background-color: rgba(209, 209, 209, 0.4);
  border-radius: 6px;
  display: flex;
  height: 3em;
  justify-content: center;
  margin: auto;
  width: 95%;
}

.header-title {
  color: black;
  font-family: 'Nunito';
  font-size: 22px;
  font-weight: bold;
}
